body{
	font-family: 'Roboto', sans-serif;
	background-color:#f2f2f2;
	margin:0px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
} 

button{
	background-color:white;
	border:1px solid black;
	padding:10px;
	width:150px;
	margin: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
}

#Overlay{
	position: fixed;
	width:100%;
	height:100%;
}

#OVBackground{
	position: fixed;
	width:100%;
	height:100%;
	background-color: black;
	opacity:0.7;
}

/* Standard Box */
.SBox{ 
	background-color:white;
	border-radius: 5px;
	padding:15px;
	width:300px;
	margin-top:10%;
}

.Ginput{
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	margin:5px;
	border:1px solid black;
	width:295px;
	border-radius: 2.5px;
}

.Ginput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #5b5b5b;
}
.Ginput::-moz-placeholder { /* Firefox 19+ */
  color: #5b5b5b;
}
.Ginput:-ms-input-placeholder { /* IE 10+ */
  color: #5b5b5b;
}
.Ginput:-moz-placeholder { /* Firefox 18- */
  color: #5b5b5b;
}

#WiderA {
	margin-right: 5.5px;
}

.GCheckBox{

}

input[type=radio] {
  transform: scale(1.55);
}

#navbar{
	margin-bottom:200px;
	background-color:white;
	padding:10px;
	border:1px solid black;
	border-top:0px;
	border-radius-bottom-left:5px;
	border-radius-bottom-right:5px;
	width:100%;
}

textarea {
    resize: none;
}